*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

:root {
    --AMARELO:#E6AF2E ;
    --MARROM:#50260F ;
    --VERDE:#001514 ;
    --BRANCO:#FBFFFE;
    --NUDE:#938274;
    --NUDE-transparente: #93827460;
}

/* section {
    border: 1px solid black;
} */


/* BODY */

body {
    display: grid;
    grid-template-rows: 60px 1fr 300px ;
}

/* HEADER */

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100vw;
    position: fixed;
    top: 0;
}

.container-header>img{
    margin-left: 2vw;
    margin-top: 3px;
}

.container-menu-itens>a{
    text-decoration: none;
    color: var(--MARROM);
}

.container-menu-itens>a{
    padding-left: 5vh;
}

.container-menu-itens>a:hover{
    color: var(--AMARELO);
}

.container-login{
    margin-right: 5vw;
}

.container-login>a{
    color: var(--MARROM);
}

.container-login>a:hover{
    color: var(--AMARELO);
}
/* CONTAINER INICIAL */
.container-inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    border: none;
    margin: 10vw 0;
}

.logo {
    margin-left: -5%;
}
.logo img {
    min-width: 250px;
    max-width: 20vw;
}
.container-texto {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* margin-left: -30%; */
}
.container-texto p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0px;    
    font-size:
    /* 36px; */
    calc(22px + 18 * ((100vw - 300px) / (1600 - 300)));
    color:var(--MARROM);
    text-shadow: 1px 1px 1px var(--NUDE);
}


/* CONTAINER QUEM SOMOS */
.container-quem-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    border: none;
    margin-top: 10vh;
    /* height: 30vh; */
}

.titulo-quem-somos{
    display: flex;
    align-self: flex-start;
    height: 32px;
    background-color: var(--NUDE-transparente);
    width: 100%;
}

.titulo-quem-somos h1{
    font-size: calc(20px + 8 * ((100vw - 300px) / (1600 - 300)));
    color: var(--AMARELO);
    text-shadow: 1px 1px 1px var(--AMARELO);
    margin-left: 1.5vw;
    align-self: center;
}

.quem-somos {
    display: flex;
    width: 95%;
    justify-content: space-around;
    align-items: center;
}
.quem-somos p {
    display: grid;
    justify-items: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 1em;   
    margin-right: 2em; 
    font-size: 19px;
    color:var(--MARROM);
    line-height: 40px;
}



/* CONTAINER PRODUTOS */

.section-produtos {
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-gap: minmax(10px, 15px);
    margin: 5vh 0;
}

.header-produtos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    background-color: var(--NUDE-transparente);
}

.titulo-header {
    margin-left: 1.5vw;
    /* border-bottom: var(--NUDE); */
}

.titulo-header h1 {
    font-size: calc(20px + 8 * ((100vw - 300px) / (1600 - 300)));
    color: var(--AMARELO);
    text-shadow: 1px 1px 1px var(--AMARELO);
}

.container-setinha {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.header-produtos img {
    height: 100%;
}

.container-produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5vh 0;
}

.container-card {
    display: flex;
    flex-direction: column;
    margin: 2vh 10px;
    box-shadow: 1px 1px 5px var(--VERDE);
}

.container-imagem {
    display: flex;
    justify-content: center;
}

.container-imagem img {
    min-width: 215px;
    max-width: 20vw;
    width: 100%;
}

.titulo-comida {
    display: flex;
    flex-wrap: wrap;
    min-width: 200px;
    max-width: 18vw;
    padding: 3vh 7px;
    color: var(--VERDE);
    font-size: calc(14px + 4 * ((100vw - 300px) / (1600 - 300)))
}

.container-peso-preco {
    padding: 1vh 7px;
    display: flex;
    justify-content: space-between;
    font-size: calc(12px + 4 * ((100vw - 300px) / (1600 - 300)))
}

.container-peso-preco p {
    margin: 0 4px;
}

#button {
    align-self: center;
    margin: 3vh 10px;
    width: 50%;
    height: 20px;
    color: var(--BRANCO);
    background-color: var(--AMARELO);
    border: none;
    border-radius: 3px;
}

/* FOOTER */

footer{
    display: grid;
    grid-template-rows: 70% 30%;
}

.linha1 {
    grid-row: 1;
    display: flex;
    background-color: var(--NUDE);
    justify-content: space-around; 
}

.container-redes{
    display: grid;
    grid-template-rows: 25px calc(100% - 2vh - 25px);
    margin-top: 2vh;
    width: 30%;
    color: var(--BRANCO);
}

.container-logo-redes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 1vw;
    margin-top: 2vh;
}

.container-redes>h3{
    margin-left: 1vw;
    padding-bottom: 2vh;
    justify-self: center;
}

.container-atendimento{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2vh;
    margin-left: 5vw;
    width: 20%;
    color: var(--BRANCO);
    font-size: calc(12px + 6 * ((100vw - 300px) / (1600 - 300)))
}

.container-atendimento>h3{
    padding-bottom: 2vh;
}

.container-atendimento>p{
    padding-bottom: 2vh;
    text-decoration: underline var(--BRANCO)
}

.container-atendimento a {
    color: white;
    text-decoration: underline var(--BRANCO)
}

.container-form{
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 35px calc(100% - 35px - 3vh);
    margin-top: 2vh;
    width: 50%;
    color: var(--BRANCO);
}

.container-form>h3{
    padding-bottom: 1vh;
    justify-self: center;
}

/* .formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.header-form {
    grid-row: 1;
    grid-column: 1 / -1;
    justify-content: start;
}

.formulario-parte1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 2;
    grid-column: 1;
}

.container-form1 {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
}

#label-email {
    margin-top: 1vh;
}

.formulario-parte2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 2;
    grid-column: 2;
    margin-right: 2vw;
}

.container-form2 {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
}

#button-form {
    margin-top: 1vh;
    color: var(--VERDE);
    width: 100px;
    border-radius: 3px;
}

#button-form:hover{
    background-color: var(--AMARELO);
    color: var(--BRANCO);
}

.linha2 {
    background-color: var(--NUDE);
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha2 h1 {
    font-family: 'Zen Old Mincho', serif;
    color: var(--AMARELO);
}

.linha2 p {
    color: var(--VERDE);
}


/* @MEDIA RESPONSIVIDADE */

@media screen and (max-width: 375px){
    body {
        display: grid;
        grid-template-rows: 60px 1fr 450px ;
    }
    .container-form {
        margin-left: 20vw;
        width: 100%;
        display: flex;
        flex-Direction: column;
        align-Items: flex-start;
        justify-Content: space-around;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center
    }
    .container-form2{
        display: grid;
        width: 100%;
        display: grid;
    }
    .txt-form {
        width: 83%;
    }
    .container-redes h3 {
        font-size: calc(12px + 450 * ((100vw - 300px) / (1600 - 300)));
    }
    .container-redes {
        display: grid;
        padding-top: 7%;
        /* margin-left: 10%; */
        /* margin-top: 1em; */
    }

    .container-logo-redes{
        padding-top: 30%;
        font-size: calc(12px + 6 * ((100vw - 300px) / (1600 - 300)));
        display: grid;
        align-items: end;

    }
    .container-logo-redes img {
        padding-top: 10%;
    }
    footer {
        height: 100%;
        margin-right: 0;
    }
    #button-form {
        height: 25px;
        width: 84%;
    }
    .container-atendimento p {
        text-align: center;
    }
    .container-atendimento {
        margin-top: 2%;
        display: grid;
        align-items: end;
        font-size: calc(12px + 240 * ((100vw - 300px) / (1600 - 300)))
    }
    
}

