*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

:root {
    --AMARELO:#E6AF2E ;
    --MARROM:#50260F ;
    --VERDE:#001514 ;
    --BRANCO:#FBFFFE;
    --NUDE:#938274;
}

section {
    border: 1px solid black;
}


/* BODY */

body {
    display: grid;
    grid-template-rows: 60px 1fr 200px ;
}

/* HEADER */

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.container-header>img{
    margin-left: 2vw;
    margin-top: 3px;
}

.container-menu-itens>a{
    text-decoration: none;
    color: var(--MARROM);
}

.container-menu-itens>a{
    padding-left: 5vh;
}

.container-menu-itens>a:hover{
    color: var(--AMARELO);
}

.container-login{
    margin-right: 5vw;
}

.container-login>a{
    color: var(--MARROM);
}

.container-login>a:hover{
    color: var(--AMARELO);
}




/* CONTAINER QUEM SOMOS */



/* CONTAINER PRODUTOS */

.section-produtos {
    display: grid;
    border: 2px solid red;
    grid-template-rows: 40px 1fr;
    grid-gap: minmax(10px, 15px);
}

.header-produtos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-header {
    padding-left: 10px;
    border-bottom: var(--NUDE);
}

.titulo-header h1 {
    font-size: calc(20px + 8 * ((100vw - 300px) / (1600 - 300)));
    color: var(--AMARELO);
}

.container-setinha {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.header-produtos img {
    height: 100%;
}

.container-produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-card {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.container-imagem {
    display: flex;
    justify-content: center;
}

.container-imagem img {
    min-width: 150px;
    max-width: 20vw;
}

.titulo-comida {
    padding: 2px 7px;
    color: var(--VERDE);
    font-size: calc(14px + 6 * ((100vw - 300px) / (1600 - 300)));
}

.container-peso-preco {
    padding: 2px 7px;
    display: flex;
    justify-content: space-between;
    font-size: calc(12px + 4 * ((100vw - 300px) / (1600 - 300)));
}

.container-peso-preco p {
    margin: 0 4px;
}

#button {
    align-self: center;
    margin: 3px 10px;
    width: 50%;
    height: 20px;
    color: var(--BRANCO);
    background-color: var(--AMARELO);
    border: none;
}

/* FOOTER */

footer{
    display: flex;
    background-color: var(--NUDE);
    justify-content: space-around; 
}

.container-redes{
    display: grid;
    grid-template-rows: 25px calc(100% - 2vh - 25px);
    margin-top: 2vh;
    width: 30%;
    color: var(--BRANCO);
}

.container-logo-redes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 1vw;
    margin-top: 2vh;
}

.container-redes>h3{
    margin-left: 1vw;
    padding-bottom: 2vh;
}

.container-atendimento{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 2vh;
    margin-left: 1vw;
    width: 20%;
    color: var(--BRANCO);
    font-size: calc(12px + 6 * ((100vw - 300px) / (1600 - 300)))
}

.container-atendimento>h3{
    padding-bottom: 2vh;
}

.container-atendimento>p{
    padding-bottom: 2vh;
    text-decoration: underline var(--BRANCO)
}

.container-form{
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 25px calc(100% - 25px - 3vh);
    margin-top: 2vh;
    width: 50%;
    color: var(--BRANCO);
}

.container-form>h3{
    padding-bottom: 1vh;
}

/* .formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.header-form {
    grid-row: 1;
    grid-column: 1 / -1;
    justify-content: start;
}

.formulario-parte1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 2;
    grid-column: 1;
}

.container-form1 {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
}

#label-email {
    margin-top: 1vh;
}

.formulario-parte2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 2;
    grid-column: 2;
    margin-right: 2vw;
}

.container-form2 {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
}

#button-form {
    margin-top: 1vh;
    color: var(--VERDE);
    width: 100px;
    border-radius: 3px;
}

#button-form:hover{
    background-color: var(--AMARELO);
    color: var(--BRANCO);
}
